/// @content Global variables such as colors and fonts

/// @type Color
$silver: #ccc;
/// @type color
$pickled_bluewood: #304551;
// @type color
$aqua_haze: #F0F4F6;
/// @type color
$bondi_blue: #008CBA;

// Font variables
/// used frecuently at plain text
/// @type font
$crimson: 'Crimson Text', serif;
/// used frecuently at titles
/// @type font
$montserrat: 'Montserrat', sans-serif;
