.menu {
  @include media-breakpoint-up(md) {
      margin-right: 10%;
  }
}
/// @output Mixin to style the link menu when hover or active
@mixin active_hover_link() {
  border: 1px solid #ccc;
  background-color: $bondi_blue;
  border-radius: 5px;
  color: white !important;
}
.active {
  @include active_hover_link();
}

.navbar-collapse .navbar-nav li.nav-item {
  border: 1px solid transparent !important;
  font-family: 'proxima-nova,sans-serif' !important;
  font-style: normal !important;
  font-weight: 400 !important;
  &:hover {
    a {
      color: white !important;
    }
    @include active_hover_link();
  }
}

.logo__mobile {
      position: absolute;
      display: block;
      font-size: 1.3em;
      left: 8%;
      right: 0;
      top: 2%;
      margin-left: auto;
      margin-right: auto;
      width: 209px;

      @include media-breakpoint-up(md) {
        display: none;
     }
}

.logo {
  position: absolute;
  left: 10%;

  @include media-breakpoint-only(xs) {
    display: none;
  }

  .logo__name {
    text-decoration: none;
    color: $bondi_blue;
    font-size: 22px;
    vertical-align: top;
    font-family: 'proxima-nova,sans-serif' !important;
    font-style: normal !important;
    font-weight: 400 !important;
  }
}

@media (min-width: 320px) and (max-width: 768) {
  .logo__mobile {
    display: block;
  }
}
