.menu {
  @include media-breakpoint-up(md) {
      margin-right: 10%;
  }
}

.logo__mobile {
      position: absolute;
      display: block;
      font-size: 1.3em;
      left: 8%;
      right: 0;
      top: 2%;
      margin-left: auto;
      margin-right: auto;
      width: 209px;

      @include media-breakpoint-up(md) {
        display: none;
     }
}

.logo {
  position: absolute;
  left: 10%;

  @include media-breakpoint-only(xs) {
    display: none;
  }

  .logo__name {
    text-decoration: none;
    color: #6c5ce7;
    font-size: 22px;
    vertical-align: top;
  }
}

@media (min-width: 320px) and (max-width: 768) {
  .logo__mobile {
    display: block;
  }
}
